# Banco de Dados (Usados pelo Docker Compose)
DB_USER=edunex_user
DB_PASSWORD=sua_senha_segura
DB_NAME=edunex_db
DB_PORT=5432
DB_SSLMODE=disable

# API
PORT=8080
SUPABASE_JWT_K_X=x-coordinate
SUPABASE_JWT_K_Y=y-coordinate

# Supabase (Para o upload de arquivos que seu Go já faz)
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sua_chave_service_role
SUPABASE_BUCKET=lesson-plans
SUPABASE_ANON_KEY=seu_key_anonimo

# AI
GROQ_API_KEY=sua_chave_groq
GROQ_API_URL=https://api.groq.com/openai/v1
GROQ_API_MODEL=
GROQ_TIMEOUT=60s